<!DOCTYPE html>
<html lang="{{ .Site.Params.languageCode }}" dir="{{ .Site.Params.htmlDirection }}" class="no-js">
<head>
  {{ partial "normal/head.html" . }}
</head>
{{ $color := .Params.config.color | default .Site.Params.color }}
{{ if eq $color "default" }}{{ $color = .Site.Params.color }}{{ end }}
<body class="{{if eq .Kind `page` }}single{{else}}list{{end}}" data-theme="{{ $color }}">
  {{ partial "normal/nav.html" . }}
  {{ block "main" . }}{{ end }}
  {{ partial "modules/footer.html" .}}
  {{/*  {{ block "style" . }}{{ end }}   */}}
  {{ partial "normal/script.html" . }}
</body>
</html>
  
