{{ define "style" }}
  {{ $color := .Site.Params.color }}
  {{ if not .IsHome }}
    {{ if eq .Data.Singular "tag" }}
        {{ $color = (index .Site.Data.topic (printf "%s" .Data.Term)).color }}
    {{ else if eq .Data.Singular "category" }}
        {{ $color = (index .Site.Data.section (printf "%s" .Data.Term)).color }}
    {{ else if eq .Data.Singular "author" }}  
        {{ $color = (index .Site.Data.author (printf "%s" .Data.Term)).color }}
    {{ else }}
      {{ $color = .Params.config.color | default .Site.Params.color }}
    {{ end }}
  {{ end }}
  {{ if eq $color "default" }}{{ $color = .Site.Params.color }}{{ end }}
  <link rel="stylesheet" href='{{.Site.BaseURL}}{{ printf "/assets/style/color/%s.css" $color }}' data-instant-track id="theme" async />
{{ end }}


{{ define "main" }}

  <div class="main-list">

    {{ $listHead := "» آخرین مطالب منتشر شده در" }}
    {{ $listTitle := .Site.Title }}
    {{ $listDescription := "" }}
    {{ $PageImage := .Site.Params.pageCover  }}
  
    {{ if not .IsHome }}
      {{ if eq .Data.Singular "tag" }}
        {{ $listHead = "» مطالب نوشته شده با موضوع" }}
        {{ $listTitle = (index .Site.Data.topic (printf "%s" .Data.Term)).name }}
        {{ $listDescription = (index .Site.Data.topic (printf "%s" .Data.Term)).description }}
        {{ $PageImage = (index .Site.Data.topic (printf "%s" .Data.Term)).PageImage }}
  
      {{ else if eq .Data.Singular "category" }}
        {{ $listHead = "» مطالب نوشته شده در بخش" }}
        {{ $listTitle = (index .Site.Data.section (printf "%s" .Data.Term)).name }}
        {{ $listDescription = (index .Site.Data.section (printf "%s" .Data.Term)).description }}
        {{ $PageImage = (index .Site.Data.section (printf "%s" .Data.Term)).PageImage }}   
  
      {{ else if eq .Data.Singular "author" }}  
        {{ $listHead = "» مطالب نوشته شده توسط" }}
        {{ $listTitle = (index .Site.Data.author (printf "%s" .Data.Term)).name }}
        {{ $listDescription = (index .Site.Data.author (printf "%s" .Data.Term)).description }}
        {{ $PageImage = (index .Site.Data.author (printf "%s" .Data.Term)).PageImage }}
  
      {{ end }}
    {{ end }}

    {{ $SiteTitle := .Site.Title }}

    {{ range first 1 .Site.RegularPages }}
    {{ $imageResource := ($.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" ($PageImage) ) }}
    {{ $resizedCover := $imageResource.Resize "400x q20" }}
    {{ $tinyCover := $imageResource.Resize "10x" }}
    <div class="main-list-cover ">
      <img class="asyncImage"  crossorigin="anonymous" src="{{ $tinyCover.RelPermalink }}" data-src="{{ $resizedCover.RelPermalink }}" alt="{{ $SiteTitle }}"  />
    </div>
    {{ end }}

    <div class="main-list-head noselect">
        <div class="cleafix">
        </div>
        <div class="main-list-title">
            <div class="list-subtitle">
                <h3>{{ $listHead }}</h3>
            </div>
            <h1 class="list-title">{{ $listTitle }}</h1>
        </div>
    </div>

    <div class="main-list-content">
      {{ $paginator := .Paginate (where .Site.Pages ".Params.config.post" "==" true)  (index .Site.Params "paginate" | default 6) }}

      {{ range $paginator.Pages.ByDate.Reverse  }}
      <div class="post-list">
        <a href="{{ .Permalink }}">
          <h1>{{ .Title }}</h1>
          <span>{{ partial "modules/svg/date.svg" . }} <strong class="date">{{ .Params.shamsiDate }}</strong></span>
          <p>{{ .Params.header.summary | truncate 320 }}</p>
        </a>
        <a href="{{ .Permalink }}" class="btn">ادامه {{ partial "modules/svg/arrow-right.svg" . }}</a>
      </div>
      {{ end }}
    </div>
    {{ if gt $paginator.TotalPages 1 }}
    <div class="main-list-pagination">
        <div class="list-pagination">
            <div class="main-list-more">
              <a class="btn">بیشتر</a>
            </div>
        </div>
    </div>
    {{ end }}

      {{ $url := printf "%s" .Site.BaseURL  }}
      <div id="list" class="none">[{{ if $paginator }}{{ range $paginator.Pagers  }}{{ if ne .PageNumber 1 }}"{{ printf "%s%s" $url .URL }}",{{ end }}{{ end }}{{ end }}""]</div>
  </div>

  
{{ end }}