{{ define "style" }}
{{ $color := .Params.config.color | default .Site.Params.color }}
{{ if eq $color "default" }}{{ $color = .Site.Params.color }}{{ end }}
<link rel="stylesheet" href='{{.Site.BaseURL}}{{ printf "/assets/style/color/%s.css" $color }}' data-instant-track id="theme" async />
{{ end }}


{{ define "main" }}
<div class="main">
<div class="main-content">
    <div class="p404">
      {{ .Content }}
    </div>
    
</div>
</div>
{{/*  {{ partial "normal/related.html" . }}  */}}

  
{{ end }}