<!DOCTYPE html>
<html amp lang="{{ .Site.Params.languageCode }}" dir="{{ .Site.Params.htmlDirection }}">
<head>
  {{ partial "amp/head-amp.html" . }}
</head>

<body class="list">
  {{ partial "amp/nav-amp.html" . }}

  <div class="main-list">

    {{ $listHead := "» مختصر و مفید از همه جا" }}
    {{ $listTitle := .Title }}
    {{ $PageImage := .Site.Params.pageCover  }}
  
    {{ $SiteTitle := .Site.Title }}

    {{ range first 1 .Site.RegularPages }}
    {{ $imageResource := ($.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" ($PageImage) ) }}
    {{ $resizedCover := $imageResource.Resize "400x q20" }}
    {{ $tinyCover := $imageResource.Resize "10x" }}
    <div class="main-list-cover ">
      <div class="asyncImage">
        <amp-img 
          src='{{ replace ( replace ($resizedCover.RelPermalink) ".png" ".webp" ) ".jpg" ".webp" }}'
          alt="{{ $SiteTitle }}" 
          layout="responsive" 
          height="500"
          width="1100" data-amp-auto-lightbox-disable>
          <amp-img 
            fallback
            src="{{ $resizedCover.RelPermalink }}" 
            alt="{{ $SiteTitle }}" 
            layout="responsive" 
            height="500"
            width="1100" data-amp-auto-lightbox-disable>
          </amp-img>
        </amp-img>
      </div>
    </div>
    {{ end }}

    <div class="main-list-head noselect">
        <div class="cleafix">
        </div>
        <div class="main-list-title">
            <h1 class="list-title">{{ $listTitle }}</h1>
        </div>
    </div>

    <div class="main-list-content feed">
			{{ $paginator := .Paginate (where .Site.Pages ".Params.config.feed" "==" true)  (index .Site.Params "paginate" | default 6) }}

      {{ range $paginator.Pages.ByDate.Reverse  }}
      <div class="post-list">
        <a href="{{ .Permalink }}" aria-label="{{ .Params.shamsiDate }}">
					<h3 class="title" data-date="» {{ .Params.shamsiDate }}"></h3>
				</a>					
        <a href="{{ .Permalink }}">
          <pre>{{ .Params.subject }}</pre>
        </a>
      </div>
      {{ end }}
    </div>

    {{ if gt $paginator.TotalPages 1 }}
    <div class="main-list-pagination">
      <div class="list-pagination">
        <div class="next">
          {{ if $paginator.HasPrev }}
          <a class="btn"
            href="{{ $paginator.Prev.URL }}">{{ partial "modules/svg/arrow-right.svg" . }}{{ partial "modules/svg/arrow-right.svg" . }}</a>
          {{ end }}
        </div>
        <div class="back">
          {{ if $paginator.HasNext }}
          <a class="btn"
            href="{{ $paginator.Next.URL }}">{{ partial "modules/svg/arrow-right.svg" . }}{{ partial "modules/svg/arrow-right.svg" . }}</a>
          {{ end }}
        </div>
      </div>
    </div>
    {{ end }}    
  </div>

  


  {{ partial "modules/footer.html" .}}

  <amp-install-serviceworker src="{{ .Site.BaseURL }}/amp/sw.js" data-iframe-src="https://amp.dev/sw.html"
    layout="nodisplay">
  </amp-install-serviceworker>

</body>

</html>