<!DOCTYPE html>
<html amp lang="{{ .Site.Params.languageCode }}" dir="{{ .Site.Params.htmlDirection }}">
<head>
  {{ partial "amp/head-amp.html" . }}
</head>
<body class="single">
  {{ partial "amp/nav-amp.html" . }}

  <div class="main p-b-100">
    <div class="main-head">
      <div class="cleafix"></div>
      <div class="main-title t-c">
        <h1 class="post-title">{{ .Params.ShamsiDate }}</h1>
        <h3 class="post-subtitle">خلاصه خبرها</h3>        
      </div>
        <div class="normal-view">
          <a class="btn" href="{{ replace .Permalink "/amp/"  "/" }}">نمایش مطلب در حالت استاندارد</a>
        </div>       
    </div>    
    <div class="main-content" id="content">
      <div class="content-share">
          {{ partial "modules/share.html" . }}
      </div>       
      {{ .Content }}
    </div>
  </div>  

          
      
        
  {{ if eq .Params.config.related "true"}}
  {{ partial "amp/related-amp.html" . }}
  {{ end }}
  {{ partial "modules/footer.html" .}}
  <amp-install-serviceworker 
    src="{{ .Site.BaseURL }}/amp/sw.js"
    data-iframe-src="https://amp.dev/sw.html"
    layout="nodisplay">
  </amp-install-serviceworker>
</body>
</html>
  
