<div class="header noselect">
    {{ partial "modules/theme.html" . }}
    <div class="header-navbar">
        <div class="header-top">
            <div class="header-main">
                    <div class="logo">
                        <a href="{{ .Site.BaseURL }}" aria-label="Home">
                            {{ partialCached "modules/svg/feedium.svg" . }}
                        </a>
                    </div>
                    <a href="{{ .Site.BaseURL }}"> آخرین مطالب </a>
                    <a href="{{ .Site.BaseURL }}/feed"> آخرین خبرها </a>
                    <a href="{{ .Site.BaseURL }}/contact" class="btn"> تماس با ما </a>
            </div>
        </div>
        <div class="header-nav">
            <nav class="header-menu"> 
                <a class="header-arrow" id="navNext">‹</a>
                <ul class="scroll" id="scroll-nav">
                    
                    {{ range $key, $value := .Site.Taxonomies.topic }}
                        {{ $class := "" }}
                        {{ if eq (path.Base $.Permalink) (printf "%s" ($key | urlize))  }}
                                {{ $class = "active" }}
                        {{ end }}
                        {{ if eq $.Params.Section (printf "%s" ($key | urlize)) }}
                            {{ $class = "active" }}
                        {{ end }}                        
                        <li><a href="/topic/{{ $key | urlize  }}" class="{{ $class }}"> {{ (index $.Site.Data.topic (printf "%s" $key )).name }} </a></li>
                    {{ end }}                                                          
                </ul>
                <a class="header-arrow"  id="navBack">›</a>
            </nav>
        </div>
        <div class="header-nav hide" id="nav">
            <nav class="header-menu">
                <div class="logo"> 
                    <a href="/" aria-label="Home">
                        {{ partialCached "modules/svg/feedium.svg" . }}
                    </a>
                </div>
                {{ $title := "" }}
                {{ if eq .Data.Singular "tag" }}
                    {{ $title = (printf "مطالب نوشته شده با موضوع %s" (index .Site.Data.topic (printf "%s" .Data.Term)).name ) }}
                {{ else if .Params.config.feed }}
                    {{ $title = printf "خبرهای روز %s" .Params.shamsiDate }}
                {{ else }}
                    {{ $title = .Title }}
                {{ end }}                
                <span>{{ $title }}</span>
                {{ partial "modules/share.html" . }}
            </nav>
        </div>
    </div>
</div>
