<div class="related noselect">
    <div class="related-content">
        <div>
            <div>
                <h1>دیگر مطالب در {{ .Site.Title }}...</h1>
                <a class="more" href="/">بیشتر</a>
            </div>

            <div class="clearfix"></div>
            <hr>
            <div class="related-list">
            {{/*  {{ $related := shuffle (where .Site.Pages "Type" "posts") | first 6  }}  */}}

			{{ $filteredPosts := where (where .Site.Pages "Type" "posts") ".File.UniqueID" "!= " .File.UniqueID }}
			{{ $relatedPosts := shuffle $filteredPosts | first 6 }}

            {{ range $relatedPosts }}
            {{ if .Params.header.cover.coverIMG }}
							{{ $resized := "null" }}
							{{ $tiny := "null" }}
							{{ with .Params.header.cover.coverIMG }}
							{{ $imageResource := ($.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" . ) }}
							{{ $resized = $imageResource.Fill "350x230 Center" }}
							{{ $tiny = $imageResource.Fill "3x2 Center" }}
							{{ end }}
							<span>
									<a href="{{ .RelPermalink }}">
											<img 
													class="asyncImage" 
													crossorigin="anonymous"
													src="{{ $tiny.RelPermalink }}" 
													data-src="{{ $resized.RelPermalink }}" 
													aria-label="{{ .Params.Title}}" />
											<p>» نوشته {{ (index .Site.Data.author (printf "%s" .Params.author)).name }}
													در بخش {{ (index .Site.Data.section (printf "%s" .Params.section)).name }}</p>
											<h3>{{ .Title }}</h3>
									</a>
							</span>
            {{ end }}
            {{ end }}

            {{/*  {{ end }}  */}}
            </div>
        </div>
            
    </div>
</div>