{{ $css := resources.Get (printf "%s" .Site.Data.webpack.main.css ) | resources.Minify }}{{ with $css }}{{ $secureCSS := . | resources.Fingerprint "sha384" }}function s(t){let p=document.createElement("link");p.type="text/css",p.setAttribute("id","mainStyle"),p.href=t,p.integrity='{{ printf "%s" $secureCSS.Data.Integrity | safeHTML }}',p.setAttribute("crossorigin","use-credentials"),p.setAttribute("data-no-instant",""),p.async=!0,p.rel="stylesheet",document.head.appendChild(p);};s("{{ $css.Permalink }}");{{ end }}{{ $js := resources.Get "assets/js/main.js" | resources.Minify }}{{ with $js }}{{ $secureJS := . | resources.Fingerprint "sha384" }}function l(t){let e=document.createElement("script");e.type="text/javascript",e.setAttribute("id","mainScript"),e.src=t,e.integrity='{{ printf "%s" $secureJS.Data.Integrity | safeHTML }}',e.setAttribute("crossorigin","anonymous"),e.setAttribute("data-no-instant",""),e.async=!0,document.head.appendChild(e)};l("{{ $js.Permalink }}");{{ end }}{{/*  
{{ $css := resources.Get (printf "%s" .Site.Data.webpack.main.css ) | resources.Minify }}
{{ with $css }}
  {{ $secureCSS := . | resources.Fingerprint "sha384" }}
    function s(t) {
      let p = document.createElement("link");
          p.type = "text/css",
          p.setAttribute("id", "mainStyle"),         
          p.href = t, 
          p.integrity= '{{ printf "%s" $secureCSS.Data.Integrity | safeHTML }}',
          p.setAttribute("crossorigin","use-credentials"),          
          p.setAttribute("data-no-instant", ""), 
          p.async = !0,
          p.rel = "stylesheet",            
          document.head.appendChild(p);
    };
    s("{{ $css.Permalink }}");
{{ end }}

{{ $js := resources.Get "assets/js/main.js" | resources.Minify }}
{{ with $js }}
  {{ $secureJS := . | resources.Fingerprint "sha384" }}
    function l(t) {
      let e = document.createElement("script");
          e.type = "text/javascript",
          e.setAttribute("id", "mainScript"),           
          e.src = t, 
          e.integrity= '{{ printf "%s" $secureJS.Data.Integrity | safeHTML }}',
          e.setAttribute("crossorigin","anonymous"),
          e.setAttribute("data-no-instant", ""), 
          e.async = !0,
          document.head.appendChild(e)
    };
    l("{{ $js.Permalink }}");
{{ end }}  */}}