<div class="related noselect">
  <div class="related-content">
    <div>
      <div>
        <h1>دیگر مطالب در {{ .Site.Title }}...</h1>
        <a class="more" href="/">بیشتر</a>
      </div>

      <div class="clearfix"></div>
      <hr>
      <div class="related-list">
          {{/*  {{ $related := where (.Site.RegularPages.Related . ) "Type" "posts"  }}  */}}

          {{ $filteredPosts := where (where .Site.Pages "Type" "posts") ".File.UniqueID" "!= " .File.UniqueID }}
          {{ $relatedPosts := shuffle $filteredPosts | first 6 }}

          {{ range $relatedPosts }}
          {{ if .Params.header.cover.coverIMG }}
            {{ $resized := "null" }}
            {{ $tiny := "null" }}
            {{ with .Params.header.cover.coverIMG }}
            {{ $imageResource := ($.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" . ) }}
            {{ $resized = $imageResource.Fit "350x230" }}
            {{ end }}
            <span>
              <a href="{{ .RelPermalink }}">
                <amp-img 
                  class="asyncImage"
                  layout="responsive"
                  height="230"
                  width="350"
                  src="{{ $resized.RelPermalink }}"
                  aria-label="{{ .Params.Title }}" >
                </amp-img>
                <p>» نوشته {{ (index .Site.Data.author (printf "%s" .Params.author)).name }}
                  در بخش {{ (index .Site.Data.section (printf "%s" .Params.section)).name }}</p>
                <h3>{{ .Title }}</h3>
              </a>
            </span>
          {{ end }}
          {{ end }}

      </div>
    </div>

  </div>
</div>