<div class="tweet-frame">
	<div class="tweet" dir='{{ .Get "dir" | default "rtl" }}' aria-hidden="true" >
		<div class="tweet-user">
			<a href='{{(.Get "link")}}' aria-label='{{ (.Get "user") }}'> 
        {{ $avatar := ($.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" ( printf "%s" ( .Get "avatar" | default "/uploads/avatar-default.png" ) )) }}
        {{ $avatarResized := $avatar.Resize "48x q85" }}
        <div class="tweet-user-img">        
        <amp-img 
          class="asyncImage"
          src='{{ replace (replace ($avatarResized.RelPermalink) ".png" ".webp") ".jpg" ".webp" }}' 
          height="48"
          width="48"
          layout="fixed"
          alt='{{ (.Get "user") }}'>
          <amp-img
            fallback
            class="asyncImage" 
            layout="fixed"
            height="48"
            width="48"                    
            src='{{ $avatarResized.RelPermalink }}'
            alt='{{ (.Get "user") }}'>
          </amp-img>
        </amp-img>
        </div>
			</a>
			<a href='{{(.Get "link")}}'>
				<div class="tweet-user-name">{{ (.Get "user") }}<span>{{ (.Get "id") }}</span></div>
			</a>
		</div>
		<p class="tweet-body">
			{{ (.Get "text") }}
    </p>
		{{ if ne (.Get "img") "undefined" }}    
		{{ if .Get "img" }}
			{{ $src := ($.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" (replace (printf "%s" (.Get "img") ) "/uploads/" "") )  }}
			{{ $lqipw := default "20x" }}
			{{ $smallw := default "560x" }}
			{{ $lqip := $src.Resize $lqipw }}
			{{ $small := $src.Resize $smallw }}
      {{ $img := imageConfig (replace $src.RelPermalink "amp/" "" | printf "content/%s" ) }}

        <amp-img 
          class="asyncImage tweet-img"
          width="{{ $small.Width }}" height="{{ $small.Height }}"          
          src='{{ replace (replace ($small.RelPermalink) ".png" ".webp") ".jpg" ".webp" }}'
          srcset='{{ replace (replace ($small.RelPermalink) ".png" ".webp") ".jpg" ".webp" }} 500w'
          alt="tweet img" 
          layout="responsive"
          data-amp-auto-lightbox-disable>
          <amp-img
            fallback
            class="asyncImage tweet-img"
            width="{{ $small.Width }}" height="{{ $small.Height }}"          
            src="{{ $small.RelPermalink }}"
            srcset='{{ $small.RelPermalink }} 560w'
            alt="{{ .Params.Title}}"
            aria-label="{{ .Params.Title}}">
        </amp-img>          
      </amp-img>
		{{ end }}
		{{ end }}

    {{ if .Get "video" }}
    <amp-video 
      controls
      width="640"
      height="360"
      layout="responsive"    
      class="tweet-video" 
      {{ if .Get "poster" }}poster='{{ replace ( replace ( .Get "poster" ) ".png" "webp") ".jpg" ".webp" }}'{{ end }}>
        <source src='{{ .Get "video" }}' type="video/mp4" />
        <div fallback>
            p>This browser does not support the video element.</p>
        </div>
		</amp-video>
		{{ end }}
		<div class="tweet-actions">
				<div class="tweet-time">{{ .Get "date" }}</div>
		</div>
	</div>
</div>
