<div class='embed-container with-js'>
    <iframe 
        class="asyncImage"
        data-src='https://www.youtube-nocookie.com/embed/{{ (.Get "id") }}?controls=0?rel=0' 
        frameborder='0'
        title="youtube video"
        poster="/uploads/cover-default.png"
        allowfullscreen
        sandbox="allow-scripts allow-same-origin allow-presentation">
    </iframe>
</div>
<noscript>
    <blockquote align="center">
        <h3>نمایش ویدیو در حالت غیرفعال «جاوااسکریپت» در مرورگر امکان‌پذیر نیست.</h3>
        <h4>با این‌حال، لینک ویدیو از طریق <a href='https://www.youtube-nocookie.com/embed/{{ (.Get "id") }}' rel="noopener noreferrer" target="_blank">اینجا</a> در دسترس شماست!</h4>
    </blockquote>
</noscript>
