
  <meta name="google" content="notranslate" />
  <meta name="apple-mobile-web-app-title" content="{{ .Site.Params.LatinName }}">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="application-name" content="{{ .Site.Params.LatinName }}">
  <meta name="msapplication-TileImage" content="{{.Site.BaseURL}}/assets/meta/mstile-144x144.png">
  <meta name="msapplication-config" content="{{.Site.BaseURL}}/browserconfig.xml">  
  <meta name="msapplication-TileColor" content="#2d89ef" />

  <link rel="mask-icon" href="{{.Site.BaseURL}}/assets/meta/safari-pinned-tab.svg" color="#5d5d5d">
  <link rel="apple-touch-icon" sizes="180x180" href="{{.Site.BaseURL}}/assets/meta/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{.Site.BaseURL}}/assets/meta/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="192x192" href="{{.Site.BaseURL}}/assets/meta/android-chrome-192x192.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{.Site.BaseURL}}/assets/meta/favicon-16x16.png">
  <link rel="manifest" href="{{.Site.BaseURL}}/manifest.json" crossorigin="use-credentials">
  <link rel="shortcut icon" href="{{.Site.BaseURL}}/favicon.ico">
