<ul class="share">
    <li>
        <a href='https://twitter.com/intent/tweet?text={{ printf "مطلب «" | safeHTML }}{{.Title}}» {{ if .Site.Params.link.twitterUser }}{{ printf "از وب‌سایت @" | safeHTML }}{{ .Site.Params.link.twitterUser }}{{ end }} {{ .Permalink }}' aria-label="Twitter" target="_blank" rel="noopener noreferrer">{{ partialCached "modules/svg/share-twitter.svg" . }}</a>
    </li>
    <li>
        <a href='https://telegram.me/share/url?url={{ printf "مطلب «" | safeHTML }}{{ .Title }}» {{ if .Site.Params.link.telegramUser }}{{ printf "از وب‌سایت @" | safeHTML }}{{ .Site.Params.link.telegramUser }}{{ end }}' aria-label="Telegram" target="_blank" rel="noopener noreferrer">{{ partialCached "modules/svg/share-telegram.svg" . }}</a>
    </li>
    <li>
        <a href='whatsapp://send?text={{ .Title }}%20{{ .Permalink }}' data-action="share/whatsapp/share" aria-label="Whatsapp" target="_blank" rel="noopener noreferrer">{{ partialCached "modules/svg/share-whatsapp.svg" . }}</a>
    </li>
    <li>
        <a href="mailto:?subject={{ .Title }}&body={{ .Params.description }}<br>{{ .Permalink }}" aria-label="Email" target="_blank" rel="noopener noreferrer">{{ partialCached "modules/svg/share-mail.svg" . }}</a>
    </li>
</ul>