{{ $color := .Site.Params.color }}
{{ if not .IsHome }}
    {{ if eq .Data.Singular "tag" }}
            {{ $color = (index .Site.Data.topic (printf "%s" .Data.Term)).color }}
            {{ if eq $color "default" }}{{ $color = .Site.Params.color }}{{ end }}
    {{ else if eq .Data.Singular "category" }}
            {{ $color = (index .Site.Data.section (printf "%s" .Data.Term)).color }}
            {{ if eq $color "default" }}{{ $color = .Site.Params.color }}{{ end }}
    {{ else if eq .Data.Singular "author" }}  
            {{ $color = (index .Site.Data.author (printf "%s" .Data.Term)).color }}
            {{ if eq $color "default" }}{{ $color = .Site.Params.color }}{{ end }}
    {{ else }}
            {{ $color = .Params.config.color | default .Site.Params.color }}
            {{ if eq $color "default" }}{{ $color = .Site.Params.color }}{{ end }}
    {{ end }}
{{ end }}
{{ if eq $color "darkBlue" }}
{{ $color = "#1a75bd" }}
{{ else if eq $color "darkGray" }}
{{ $color = "#41545E" }}
{{ else if eq $color "darkGreen" }}
{{ $color = "#02675d" }}
{{ else if eq $color "darkPink" }}
{{ $color = "#c31651" }}
{{ else if eq $color "darkViolet" }}
{{ $color = "#673AB7" }}
{{ else if eq $color "default" }}
{{ $color = "#0c0c0c" }}
{{ end }}

<meta name="theme-color" content="{{ $color }}" data-instant-track />