{{ $color := .Site.Params.color }}
{{ if not .IsHome }}
    {{ if eq .Data.Singular "tag" }}
            {{ $color = (index .Site.Data.topic (printf "%s" .Data.Term)).color }}
            {{ if eq $color "default" }}{{ $color = .Site.Params.color }}{{ end }}
    {{ else if eq .Data.Singular "category" }}
            {{ $color = (index .Site.Data.topic (printf "%s" .Data.Term)).color }}
            {{ if eq $color "default" }}{{ $color = .Site.Params.color }}{{ end }}
    {{ else if eq .Data.Singular "author" }}  
            {{ $color = (index .Site.Data.author (printf "%s" .Data.Term)).color }}
            {{ if eq $color "default" }}{{ $color = .Site.Params.color }}{{ end }}
    {{ else }}
            {{ $color = .Params.config.color | default .Site.Params.color }}
            {{ if eq $color "default" }}{{ $color = .Site.Params.color }}{{ end }}
    {{ end }}
{{ end }}
{{ if eq $color "Amber" }}
{{ $color = "#FFA000" }}
{{ else if eq $color "Blue" }}
{{ $color = "#1976D2" }}
{{ else if eq $color "Brown" }}
{{ $color = "#5D4037" }}
{{ else if eq $color "Gray" }}
{{ $color = "#455A64" }}
{{ else if eq $color "Green" }}
{{ $color = "#388E3C" }}
{{ else if eq $color "Pink" }}
{{ $color = "#C2185B" }}
{{ else if eq $color "Pirple" }}
{{ $color = "#7B1FA2" }}
{{ else if eq $color "Red" }}
{{ $color = "#D32F2F" }}
{{ else if eq $color "Teal" }}
{{ $color = "#00796B" }}
{{ else if eq $color "default" }}
{{ $color = "#1976D2" }}
{{ else if eq $color "MainBlue" }}
{{ $color = "#0D47A1" }}
{{ end }}

<meta name="theme-color" content="{{ $color }}" data-instant-track />