{{ define "style" }}
  {{ $color := .Params.config.color }}
  {{ if eq $color "default" }}{{ $color = .Site.Params.color }}{{ end }}
  <link rel="stylesheet" href='{{.Site.BaseURL}}{{ printf "/assets/style/color/%s.css" $color }}' data-instant-track id="theme" async />
{{ end }}

{{ define "main" }}
  <div class="main">
    <div class="main-head">
      <div class="cleafix"></div>
      <div class="main-title">
        <h1 class="post-title">{{ .Title }}</h1>
        <h3 class="post-subtitle">{{ .Params.subtitle }}</h3>
        {{ if eq .Params.config.authorVisibility "true" }}
        {{ $avatarImageResource := ($.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" (index .Site.Data.author (printf "%s" .Params.author) ).avatar) }}
        {{ $avatarResized := $avatarImageResource.Resize "72x q85" }}
        <div class="post-author ">
          <div>
            <div class="avatar">
                <img 
                  class="asyncImage"
                  crossorigin="anonymous"
                  src="/assets/img/avatar.png" 
                  data-src="{{ $avatarResized.RelPermalink }}" 
                  alt='{{ (index .Site.Data.author (printf "%s" .Params.author)).name }}'
                  aria-label='{{ (index .Site.Data.author (printf "%s" .Params.author)).name }}' 
                  aria-hidden="true" />  
            </div>                  
            <span>
              <p><strong>{{ (index .Site.Data.author (printf "%s" .Params.author)).name }}</strong></p>
              <p class="date">{{ .Params.shamsiDate }}</p>
            </span>
          </div>    
        </div>
        {{ end }}  



        {{ if eq .Params.config.summaryVisibility "true" }}
        <div class="post-summary">
          <p>{{ .Params.header.summary }}</p>
        </div>
        {{ end }}

        {{ if eq .Params.config.coverVisibility "true" }}
        {{ $resizedCover := "null" }}
        {{ $tinyCover := "null" }}    
        {{ with .Params.header.cover.coverIMG }}
          {{ $imageResource := ($.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" . ) }}
          {{ $resizedCover = $imageResource.Resize "1100x q90" }}
          {{ $tinyCover = $imageResource.Resize "20x q20" }}
        {{ end }}
        {{ if ne $resizedCover "null" }}
        <div class="post-cover">
          <div>
            <img 
              class="asyncImage" 
              crossorigin="anonymous"
              src="{{ $tinyCover.RelPermalink }}" 
              data-src="{{ $resizedCover.RelPermalink }}" 
              alt="{{ .Params.Title}}"
              aria-label="{{ .Params.Title}}"/>
            {{ if .Params.header.cover.coverSrc }}
            <span><a href="{{ .Params.header.cover.coverLnk }}">{{ .Params.header.cover.coverSrc }}</a></span>
            {{ end }}
          </div>
        </div>
        {{ end }}
        {{ end }}
      </div>
    </div>
    <div class="main-content" id="content">
      <div class="content-share none">
          {{ partial "modules/share.html" . }}
      </div>
      {{ .Content }}
    </div>
    <div class="main-footer">
    {{ if .Params.topic }}
      <div class="main-footer-tagline">
        <div>
          <ul class="footer-tags">
            {{ range .Params.topic }}
            <li><a href="{{$.Site.BaseURL}}/topic/{{ . | urlize }}/">#{{ (index $.Site.Data.topic (printf "%s" . )).name }}</a></li>
            {{ end }}                               
          </ul>
        </div>
      </div>
    {{ end }}
    {{ if  eq ( .Params.config.comment | default .Site.Params.link.comment ) "true" }}  
      <div class="main-footer-comment" id="disqus_thread">
        <a class="btn">نمایش نظرات</a>
      </div>
    {{ end }}
    </div>
  </div>
  {{ if eq .Params.config.related "true" }}
  {{ partial "normal/related.html" . }}
  {{ end }}
{{ end }}